<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
    <%= form_for Todo.new, url: task_create_path, remote: true do |f| %>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">NEW TODO LIST</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :title, "Title" %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :title, placeholder: "Enter the title" %>
          </div>
        </div>
       
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :description, "Description" %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :description, placeholder: "Enter the description" %>
          </div>
        </div>
      </div>
    
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <input type="submit" name="commit" value="Create Todo List" data-disable-with="Create Todo"  class="btn btn-primary">
      </div>
    <% end %>
    </div>
  </div>
</div>
