
<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>


<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-12 col-md-8 mx-auto">
        <h1 class="fw-light">TODO LIST</h1>
          <%= search_form_for @q, :remote => "true", url: task_search_path, :method => :get do |f| %>
            <%= f.label :title %>
            <%= f.search_field :title_cont, placeholder: "Search by title" %>
            <input type="submit" name="search" value= "Search" class="button btn btn-primary">
            <%= link_to "Clear", request.path, class: "button btn btn-primary" %>
          <% end %>  
          <div class="reload_table_content">
            <%= render "reloadtable", locals: {tasks: @tasks,q: @q} %>
          </div>
          <%= link_to 'ADD NEW TODO LIST', task_new_and_edit_path(:id => ""), remote: true, :class => "button btn btn-primary" %>
      </div>
    </div>
  </section>
</main>

<div class ="appendModalContainer">
</div>


