<!DOCTYPE html>
<html>
  <head>
    <title>Task Details</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= form_for @task, url: (@task.id.blank? ? task_create_path : task_update_path(:id => @task.id)), method: :post do |f| %>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :title, "Title" %>
          </div>
          <div class="col-md-6">
            <%= f.text_field :title, placeholder: "Enter the title" %>
          </div>
        </div>
       
        <div class="col-md-12">
          <div class="col-md-6">
            <%= f.label :description, "Description" %>
          </div>
          <div class="col-md-6">
            <%= f.text_area :description, placeholder: "Enter the description" %>
          </div>
        </div>
       <div class="form-group">
          <%= f.check_box :isComplete, include_hidden: false %>
          <%= f.label :isComplete, 'isComplete' %>
        </div>
        <div class="col-md-12">
          <%= f.submit %>
        </div>
      </div>
    <% end %>
  </body>
</html>